header {
  background-color: black;
  margin-bottom: 50px;
}

.navbar-brand img {
  height: 65px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

footer {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

#piechart {
  width: 1410px;
  height: 335px;
} 